.pageFiller {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    padding: 20px;
}

#outputBox {
    background-color: #fff;
    margin-bottom: 10px;
    overflow: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

textarea {
    resize: none;
    word-wrap: break-word;
    word-break: break-all;
    font-family: monospace;
}

#noscriptError {
    font-size: 200%;
    font-weight: bold;
    z-index: 100;
    background-color: white;
}

/* This emulates form-control:focus from bootstrap.css. */
.activeButtonAddon {
    border-color: #66afe9 #66afe9 #66afe9 #dbdbdb;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.echoedStatement {
    color: #999;
}